/* GENERAL CSS */
:root {
  --random-position: ;
  --shadows-small: ;
  --shadows-medium: ;
  --shadows-big: ;
  --stars-color: black;
  --night-gradient: radial-gradient(
    ellipse at bottom,
    #ececec 0%,
    #c4c4c4 100%
  );
  --day-gradient: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
  --pad: max(20px, 4vmin);
  --fs-text: 12px;
  --html: 90; /* percentage applied to the circumference */
  --css: 75;
  --js: 65;
  --wp: 55;
  --sql: 40;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  display: block;
  color: var(--stars-color);
  font-size: var(--fs-text);
}

#page {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-image: var(--night-gradient);
}

p {
  cursor: default;
  letter-spacing: 0.05rem;
}

ul,
ol {
  list-style: none;
}

a {
  color: var(--stars-color);
  text-decoration: none;
}

/* BACKGROUND STARS */
#stars {
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: var(--shadows-small);
  position: absolute;
  top: 0px;
  left: 0px;
  transition: top 1s cubic-bezier(0.54, 0.14, 0, 1);
  border-radius: 30%;
}

#stars2 {
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: var(--shadows-medium);
  position: absolute;
  top: 0px;
  left: 0px;
  transition: top 1s cubic-bezier(0.54, 0.14, 0, 1);
  border-radius: 30%;
}

#stars3 {
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow: var(--shadows-big);
  position: absolute;
  top: 0px;
  left: 0px;
  transition: top 1s cubic-bezier(0.54, 0.14, 0, 1);
  border-radius: 30%;
}

/* FRAME */
.frame {
  --l-r-h: 25%; /* left and right height */
  --t-b-w: 25%; /* top and bottom width */
  --frame-thickness: 1px;
  position: fixed;
  left: var(--pad);
  right: var(--pad);
  top: var(--pad);
  bottom: var(--pad);
  transition: 1s;
}

body.is-preloaded .frame {
  left: 50%;
  right: 50%;
  top: 50%;
  bottom: 50%;
  padding: 0;
  overflow: hidden;
}

.frame_line {
  position: absolute;
  background-color: var(--stars-color);
}

.frame_line-left-t {
  left: 0;
  top: 0;
  width: var(--frame-thickness);
  height: var(--l-r-h);
}
.frame_line-left-b {
  left: 0;
  bottom: 0;
  width: var(--frame-thickness);
  height: var(--l-r-h);
}

.frame_line-right-t {
  right: 0;
  top: 0;
  width: var(--frame-thickness);
  height: var(--l-r-h);
}

.frame_line-right-b {
  right: 0;
  bottom: 0;
  width: var(--frame-thickness);
  height: var(--l-r-h);
}

.frame_line-top-l {
  left: 0;
  top: 0;
  width: var(--t-b-w);
  height: var(--frame-thickness);
}

.frame_line-top-r {
  right: 0;
  top: 0;
  width: var(--t-b-w);
  height: var(--frame-thickness);
}

.frame_line-bottom-l {
  left: 0;
  bottom: 0;
  width: var(--t-b-w);
  height: var(--frame-thickness);
}

.frame_line-bottom-r {
  right: 0;
  bottom: 0;
  width: var(--t-b-w);
  height: var(--frame-thickness);
}

/* EXTERNAL SELECTOR */
.theme {
  position: fixed;
  z-index: 10;
  white-space: nowrap;
  color: var(--stars-color);
  display: flex;
  column-gap: 15px;
  cursor: pointer;
  opacity: 100%;
  transition: opacity 1s;
  transition-delay: 1s;
}

body.is-preloaded .theme {
  opacity: 0%;
}

.colors {
  left: calc(var(--pad) - 0.15em);
  bottom: var(--pad);
  transform-origin: left bottom;
  transform: rotate(-90deg);
}

.language {
  left: calc(100% - calc(var(--pad) - 0.15em));
  bottom: calc(100% - var(--pad));
  transform-origin: left bottom;
  transform: rotate(90deg);
  column-gap: 0px;
}

.theme_btn {
  display: flex;
  font-weight: 400;
  column-gap: 8px;
  text-transform: uppercase;
  align-items: flex-end;
}

.box {
  font-size: 20px;
  position: relative;
  bottom: -2px;
}

.language .theme_btn .text {
  width: 65px;
}

/* HEADER */
header {
  position: fixed;
  z-index: 10;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: top 0.75s;
  display: flex;
  flex-direction: column;
  align-items: center;
}

header.on-top {
  top: calc(var(--pad) + 50px + var(--pad));
}

header div.back-button {
  opacity: 0%;
  transition-delay: 0.75s;
  transition: 0.75s;
}

header.on-top div.back-button {
  opacity: 100%;
  cursor: pointer;
}

header div.title {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 0 solid;
  border-color: var(--stars-color);
  border-top-width: 1px;
  border-bottom-width: 1px;
  padding: var(--pad);
  max-height: 500px;
  transition: 0.75s;
  transition-property: max-height, padding;
}

body.is-preloaded header div.title {
  overflow: hidden;
  padding: 0 var(--pad) 0 var(--pad);
  max-height: 0px;
}

header.on-top div.title {
  overflow: hidden;
  padding: 0 var(--pad) 0 var(--pad);
  max-height: 0px;
}

header div.title:before {
  content: "";
  display: block;
  position: absolute;
  bottom: calc(2.75rem + 2px);
  left: calc(50% - 1px);
  width: 1px;
  height: 50px;
  background: var(--stars-color);
}

h1 {
  font-weight: 200;
  font-size: 30px;
  cursor: default;
  text-transform: uppercase;
}

header p {
  margin-top: 5px;
  font-weight: 400;
  text-transform: uppercase;
}

nav {
  margin-top: 50px;
  text-align: center;
}

nav ul {
  display: flex;
  justify-content: space-evenly;
  row-gap: 1rem;
  margin-bottom: 0;
  list-style: none;
  padding-left: 0;
  border: solid 1px var(--stars-color);
  border-radius: 4px;
}

nav ul li {
  position: relative;
}

nav ul li#li_projects {
  border-left: 1px solid var(--stars-color);
  border-right: 1px solid var(--stars-color);
}

nav ul li .text {
  position: relative;
  display: block;
  min-width: 6rem;
  height: 2.75rem;
  line-height: 2.75rem;
  /* padding: 0 1.25rem 0 1.45rem;*/
  text-transform: uppercase;
  letter-spacing: 0.1rem;
}

nav ul li a:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

/* MAIN */
main {
  position: fixed;
  z-index: 2;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: min(900px, calc(100% - (var(--pad) * 4)));
  height: 50%;
}

#container_main {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
}

#container_main .page {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0%;
  width: 100%;
  height: 100%;
  transition-duration: 0.75s;
  transition-timing-function: cubic-bezier(0.1, 0.4, 0.2, 1);
  /*backdrop-filter: blur(6px);
  background-color: rgba(255, 255, 255, 0.05);*/
}

div#container_main .page.is-selected {
  opacity: 100%;
  transition-delay: 0.75;
  z-index: 3;
}

/* ABOUT */

#about_me {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#about_me #progress_container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

#about_me .bar_meter svg {
  width: 114px;
  height: 114px;
  margin: 1em;
}

#about_me .bar_meter {
  display: flex;
  justify-content: center;
  align-items: center;
}

#about_me .bar_meter .progress_text {
  position: absolute;
}

#about_me circle.meter {
  fill: none;
  stroke-width: 6;
  stroke-linecap: round;
  transform-origin: 50% 50%;
  transform: rotate(-90deg);
  stroke-dasharray: 333;
  stroke-dashoffset: 333;
  stroke: var(--stars-color);
  transition: stroke-dashoffset 1s ease-out 0.5s;
}

#about_me .html.active {
  stroke-dashoffset: calc(333 - (333 * var(--html)) / 100);
}

#about_me .css.active {
  stroke-dashoffset: calc(333 - (333 * var(--css)) / 100);
}

#about_me .js.active {
  stroke-dashoffset: calc(333 - (333 * var(--js)) / 100);
}

#about_me .sql.active {
  stroke-dashoffset: calc(333 - (333 * var(--sql)) / 100);
}

#about_me .wp.active {
  stroke-dashoffset: calc(333 - (333 * var(--wp)) / 100);
}
/* PROJECTS */

#projects div.slider_container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#projects div.navbtn_container {
  width: 100%;
  position: absolute;
  display: flex;
  justify-content: space-between;
}

#projects div.navbtn {
  cursor: pointer;
  z-index: 4;
}

#projects .card_container {
  position: relative;
  width: 90%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

#projects .card {
  position: absolute;
  transition: transform 0.75s ease-out, opacity 0.5s linear;
  height: 250px;
  width: 80px;
  border: 1px solid var(--stars-color);
  border-radius: 12px;
}

#projects .card.hidden_left {
  transform: translateX(-500px);
  opacity: 0%;
}

#projects .card.hidden_right {
  transform: translateX(500px);
  opacity: 0%;
}

/* ICONS LINK*/
#icon_link {
  position: fixed;
  bottom: calc(var(--pad) + 0.5em);
  left: calc(var(--pad) + 0.5em);
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  z-index: 10;
  transition: opacity 1s;
  transition-delay: 1s;
}

body.is-preloaded #icon_link {
  opacity: 0%;
}

.icon {
  width: 30px;
  height: 30px;
  fill: var(--stars-color);
}

/* MEDIA */
@media screen and (min-width: 945px) {
  :root {
    --fs-text: 16px;
  }

  h1 {
    font-size: 60px;
  }

  .box {
    font-size: 25px;
  }

  .language .theme_btn .text {
    width: 85px;
  }

  #icon_link {
    flex-direction: row;
    column-gap: 10px;
  }

  nav ul li .text {
    padding: 0 1.25rem 0 1.45rem;
  }
}
